.UserIcon{
    // border:  1px solid red;
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconBox{
        border:  2px solid rgb(67, 114, 114);
        width: 80%;
        height: 80%;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
}